<!-- Backgrounds -->
<img id="background-image--vector" alt=""
  [src]="(flag$ | async)"
/>
<div id="background-image--db-logo"
  [ngClass]="{invisible: (flag$ | async)}"
></div>
<div id="background-image--gradient"></div>


<!-- Toolbar -->
<div class="toolbar" role="banner"></div>


<!-- Progress bar -->
<mat-progress-bar
  [ngClass]="{'mat-progress-bar--visible': (loadingInProgress$ | async)}"
  mode="indeterminate"
></mat-progress-bar>


<!-- Main content -->
<div class="content main-container">
  <mat-card>
    <mat-card-title>CountryFacts</mat-card-title>
    <mat-card-content>
      <app-selector-regions class="db-selector"></app-selector-regions>
      <app-selector-countries class="db-selector"></app-selector-countries>
      <mat-divider></mat-divider>
      <app-country-info></app-country-info>
    </mat-card-content>
  </mat-card>
</div>
