<div *ngIf="(country$ | async)">
  <div>name: {{(country$ | async).name}}</div>
  <div>capital: {{(country$ | async).capital}}</div>
  <div>population: {{(country$ | async).population}}</div>
  <div>currencies: {{(country$ | async).currencies[0].name}}</div>
  <div>flag: <img src="{{(country$ | async).flag}}" style="width: 88px;"/></div>
</div>

<ng-container *ngIf="(loadingError | async) === false">
  <div
    class="message-container"
    *ngIf="(region$ | async) === null"
  >
    Please select a region...
  </div>
  <div
    class="message-container"
    *ngIf="(region$ | async) !== null && (country$ | async) === null"
  >
    Please select a country...
  </div>
</ng-container>

<div
  class="message-container--error"
  *ngIf="(loadingError | async)"
>
  Error when fetching the data...
</div>
