.message-container,
.message-container--error {
  min-height: 188px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container--error {
  color: #f44336;
}

.definition-row {
  display: flex;
  min-height: 2em;
}

dt {
  width: 204px;
  text-align: right;
  font-weight: bold;
  display: inline-block;
}

dd {
  margin-left: 30px;
  display: inline-block;
}

img.flag {
  height: 88px;
  border: 1px solid #d4d4d4;
  box-shadow: 2px 5px 13px #adadad;
}
