<div *ngIf="(country$ | async)">
  <dl>
    <div class="definition-row">
      <dt>name:</dt>
      <dd>{{(country$ | async).name}}</dd>
    </div>
    <div class="definition-row">
      <dt>capital:</dt>
      <dd>{{(country$ | async).capital}}</dd>
    </div>
    <div class="definition-row">
      <dt>population:</dt>
      <dd>{{((country$ | async).population).toLocaleString()}}</dd>
    </div>
    <div class="definition-row">
      <dt>currencies:</dt>
      <dd>{{((country$ | async).currencies.map(getCurrencyName).join(", "))}}</dd>
    </div>
    <div class="definition-row">
      <dt>flag:</dt>
      <dd>
        <img
          class="flag"
          src="{{(country$ | async).flag}}"
        />
      </dd>
    </div>
  </dl>
</div>

<ng-container *ngIf="(loadingError | async) === false">
  <div
    class="message-container"
    *ngIf="(region$ | async) === null"
  >
    Please select a region...
  </div>
  <div
    class="message-container"
    *ngIf="(region$ | async) !== null && (country$ | async) === null"
  >
    Please select a country...
  </div>
</ng-container>

<div
  class="message-container--error"
  *ngIf="(loadingError | async)"
>
  Error when fetching the data...
</div>
