<div *ngIf="(country$ | async)">
  <div>name: {{(country$ | async).name}}</div>
  <div>capital: {{(country$ | async).capital}}</div>
  <div>population: {{(country$ | async).population}}</div>
  <div>currencies: {{(country$ | async).currencies[0].name}}</div>
  <div>flag: <img src="{{(country$ | async).flag}}" style="width: 88px;"/></div>
</div>

<div
  *ngIf="(region$ | async) === null"
  class="message-container"
>
  Please select a region...
</div>
<div
  *ngIf="(region$ | async) !== null && (country$ | async) === null"
  class="message-container"
>
  Please select a country...
</div>

